    <footer>
      <div class="social-media">
        Get in touch with me using:
      </div>
      <ul class="social-media">
        <li><a href="mailto:josh@joshkra.me" class="email"></a></li>
        <li><a href="https://www.facebook.com/jkjustjoshing" class="facebook"></a></li>
        <li><a href="https://www.linkedin.com/in/joshdkramer" class="linkedin"></a></li>
        <li><a href="https://www.twitter.com/jkjustjoshing" class="twitter"></a></li>
        <li><a href="/resume.pdf" class="resume"></a></li>
      </ul>
    </footer>

  </body>
</html>